@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'unreset.css';

.smooth-scroll {
    scroll-behavior: smooth;
}

.project-gallery-first-link {
    grid-row: 1 / 3;
}

.service-card:hover {
    button {
        background: black;
    }
}

.project-link:hover {
    .project-link-overlay {
        opacity: .6;
    }
    .project-title {
        display: flex;
    }
}

.rich-text {
    img {
        width: 50%;
    }
}