@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'unreset.css';
@import './embla/base.css';
@import './embla/embla.css';

.smooth-scroll {
    scroll-behavior: smooth;
}

.scroll-lock {
    overflow: hidden;
}

.project-gallery-first-link {
    grid-row: 1 / 3;
}

.team-mate-item:hover {
    .team-mate-overlay {
        opacity: .6;
    }
}

.project-link:hover {
    .project-link-overlay {
        opacity: .6;
    }
    .project-title {
        display: flex;
    }
}

.rich-text {
    img {
        margin: auto;
        width: 70%;
    }
}